# dependencies
node_modules/
client/node_modules/
api/node_modules/

# env files
.env
client/.env
api/.env

# build
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store
